.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 70%;
    margin: auto;
    padding: 3vw 5vw;
    background-color: antiquewhite;
    text-align: center;
}

.output img {
    width: 20vw;
}

.italic {
    font-style: italic;
}
