nav {
    display: flex;
    justify-content: space-between;
}
a {
    margin-right: 10px;
}

.menuItem {
    color: black;
}

.arrow {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.nav-content {
    display: flex;
    align-items: center;
}
