img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--menu);
}

body {
    --background: #ffffff;
    --text: #1b1b1b;
    --main: antiquewhite;
    --secondary: #cccccc;
    --arrow: white;
    --menu: #000000;
    --tile: antiquewhite;
}

body.dark {
    --background: rgb(43, 42, 42);
    --text: #ffffff;
    --secondary: #424040;
    --main: antiquewhite;
    --main: #5c5959;
}
